body {

    padding: 20px;
    margin: 0;
    
  }
  /* .conic-gradient {
    background: conic-gradient(#fff, #000);
  } */

 

   h2, p, ul, li {
    font-family: sans-serif;
  }
  h1 {
    text-align: center;
    text-transform: capitalize;
    text-decoration: teal;
    font-family: 'Monoton', cursive;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }

  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #0099FF;
  }

  #root {
   width: 100%;
  }

  .image {
    background-image: url(../img/main.jpg);
    width : 200vh auto;
    height: 100vh; 
    background-size: cover;
  }
  